* {
  margin: 0;
  padding: 0;
  font-family: serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #d5e0e0c4;
}

#clock h2 {
  position: relative;
  display: block;
  color: #fff;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 0.8em;
}

#clock #time {
  display: flex;
}

#clock #time div {
  position: relative;
  margin: 0 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}

#clock #time span {
  position: relative;
  margin-left: 10px;
  display: block;
  width: 100px;
  height: 80px;
  background: #2196f3;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  box-shadow: 2px 2px 0 0.2px;
  z-index: 10;
  border-radius: 10px;
}

#clock #time div span:nth-child(2) {
  height: 30px;
  font-size: 0.7em;
  letter-spacing: 0.2em;
  font-weight: 500;
  z-index: 9;
  background: #127fd6;
  text-transform: uppercase;
}

#clock #time div:last-child span {
  background-color: #ff006a;
}
#clock #time div:last-child span:nth-child(2) {
  background-color: #ff006a;
}
